input.isInvalid {
  background-color: lighten($invalid, 46%);
  transition: background-color 450ms ease-out;
}

input.isValid {
  background-color: $white;
  transition: background-color 450ms ease-out;
}
