.AddTaskModule {
  padding-top: 1.2rem;
  border-top: 1px solid #dddddd; }
  .AddTaskModule_btn {
    font-size: 1.4rem;
    font-weight: bold;
    color: crimson;
    background-color: transparent; }
  .AddTaskModule_input {
    display: block;
    width: 100%;
    background-color: #ffffff;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 0.6rem 1rem;
    border: 1px solid #dddddd;
    border-bottom: 0; }
    .AddTaskModule_input::placeholder {
      color: #999999; }
    .AddTaskModule_input:first-of-type {
      margin-top: 1rem; }
    .AddTaskModule_input:last-of-type {
      border-bottom: 1px solid #dddddd;
      margin-bottom: 1rem; }

@media (min-width: 768px) {
  .AddTaskModule {
    margin: 0 2rem; }
    .AddTaskModule_input {
      max-width: calc(33% - 20px); } }

@media (min-width: 1024px) {
  .AddTaskModule {
    margin: 0 3rem; }
    .AddTaskModule_input {
      max-width: calc(25% - 40px); } }
