// Animations
:global {
  // General
  .fadeIn {
    animation: fadeIn 450ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .slideFadeIn {
    animation: slideFadeIn 450ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  // CSSTransition classes x4
  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    opacity: 1;
    transition: opacity 450ms ease-out;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    transition: opacity 250ms ease-out;
    opacity: 0;
  }

  // CSSTransition classes x4
  .fadeH-enter {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
  }

  .fadeH-enter-active {
    opacity: 1;
    overflow: hidden;
    max-height: 60px;
    transition: all 450ms ease-out;
  }

  .fadeH-exit {
    opacityh: 1;
    overflow: hidden;
    max-height: 60px;
  }

  .fadeH-exit-active {
    transition: all 450ms ease-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }

  // CSSTransition classes x4
  .fadeW-enter {
    opacity: 0;
    overflow: hidden;
    width: 0;
  }

  .fadeW-enter-active {
    opacity: 1;
    overflow: hidden;
    height: 100%;
    transition: all 450ms ease-out;
  }

  .fadeW-exit {
    opacityh: 1;
    overflow: hidden;
    width: 100%;
  }

  .fadeW-exit-active {
    transition: all 450ms ease-out;
    overflow: hidden;
    width: 0;
    opacity: 0;
  }

  // CSSTransition classes animations v2
  .fade2-enter-active {
    animation: fadeIn 450ms ease-out forwards;
  }
  .fade2-exit-active {
    animation: fadeOut 450ms ease-out forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes :global(slideFadeIn) {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes :global(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes :global(fadeOut) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
