@import 'scss/reset';
@import 'scss/global';
@import 'scss/animations';
@import 'scss/layout';

.App {
  padding: 2rem 1rem;

  &_header {
    margin-bottom: 5rem;
    font-weight: 900;
    text-align: center;
  }

  &_logo {
    display: inline-block;
    vertical-align: middle;
    max-width: 4rem;
    margin-right: 0.6rem;
    margin-top: -5px;
  }
}

@media (min-width: $desktop) {
  .App {
    padding: 5rem;
  }
}
