.Modal {
  width: 100%;
  max-width: 532px;
  min-height: 300px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 140px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 3rem 4rem;
  transform: translateX(-50%);
  background-color: $white;

  &_removeBtn {
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0;
    font-size: 3.4rem;
    transform: rotate(45deg);
    cursor: pointer;
    color: $accent;
    &:after {
      content: '+';
      display: block;
      line-height: 1;
    }
    &:hover {
      color: lighten($accent, 25%);
    }
    &__small {
      font-size: 2.2rem;
    }
  }
}

.isOpen {
  animation: opening 0.45s ease-out forwards;
}

.isClosed {
  animation: closing 0.45s ease-out forwards;
}

@keyframes opening {
  0% {
    opacity: 0;
    margin-left: -60%;
  }
  70% {
    opacity: 0.8;
    margin-left: 140px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes closing {
  0% {
    opacity: 1;
    margin-left: 0;
  }
  30% {
    opacity: 0.8;
    margin-left: 140px;
  }
  100% {
    opacity: 0;
    margin-left: -60%;
  }
}
